{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  400 ERROR{% endblock %}

  {% block heading %}A <em>400</em> ERROR SEEMS TO HAVE OCCURRED{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class"grid_12 header" onclick="location.href='/home'" style="cursor:pointer;">
      <h1 class="top heading" style="background-color:#144D53;font-size:19px;margin-bottom:250px; margin-top:10px;"><em>A Bad Request Error has Occurred. Please return to the Home Page.</em></h1>
    </div>
  </div>
  {% endblock %}
