{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  About Us{% endblock %}

  {% block heading %}About Us{% endblock %}

  {% block content %}

  <div class="container_12">

    <div class="clear"></div>

    <div class="grid_12 header">
      <table class='Data'>
        <thead>
          <tr>

            <th colspan='2'>Aryaman Kejriwal</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>pic</td>
            <td>info</td>

          </tr>
        </tbody>
      </table>

    </div>

    <div class="clear"></div>

    <div class="grid_12 header">
      <table class='Data'>
        <thead>
          <tr>

            <th colspan='2'>Shridhar Sinha</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>info</td>
            <td>pic</td>

          </tr>
        </tbody>
      </table>

    </div>

    <div class="grid_12 header">


    </div>
  </div>

  {% endblock %}
