<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link href="{% static 'CSS/PageStyle.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'CSS/PageStyles2.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'CSS/PageStyle3.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'CSS/PageStyle4.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'CSS/960.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'CSS/960_12_col.css' %}" rel = "stylesheet" type = "text/css">
  <title>InnovationHub  |  Account</title>
</head>

<body>
  <table class = "MenuBar">
    <thead>
      <tr>
        <th rowspan = "2" colspan = "1" id="WhiteBack"><a href="https://www.curiositygym.com" target="_blank"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></th>
        <th rowspan = "2" colspan = "2" style="cursor:pointer" onclick="location.href='/carlSegment/'" id="Carl">The Carl Segment</th>
        <th style="cursor:pointer" onclick="location.href='/account/data'">TIME</th>
      </tr>

      <tr>
        <th style="cursor:pointer" onclick="location.href='/account/data'">{{Quota}}</th>
      </tr>

    </thead>

  <tbody>

    <tr>
      <div>
        <th style="cursor:pointer" onclick="location.href='/home'">Home</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/schedule'">Schedule</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/submit/request'">Submit</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/account/data'">Account</th>
      </div>
    </tr>

  </tbody>

  </table>
  <div class="container_12">

    <div class="grid_12 header">
      <h1 class = "top heading">My Account</h1>
    </div>
    <div class="clear"></div>
    <div class="grid_4 header"><h1></h1></div>
    <div class="grid_4 header">

      <h1 class="top"><img class='logo' src = "{% static 'Images/Icon.png' %}" alt = 'Your Face'></h1>

    </div>
    <div class="grid_4 header"></div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="2">We know all about you...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="Field">Name:</td>
            <td class="LeftAlign">Aryaman Kejriwal</td>
          </tr>
          <tr>
            <td class="Field">Class:</td>
            <td class="LeftAlign">10D</td>
          </tr>
          <tr>
            <td class="Field">Time:</td>
            <td class="LeftAlign">{{Quota}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">My Top Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Name 1</td>
            <td>Name 2</td>
            <td>Name 3</td>
          </tr>

          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

  <table class="Data" id="Footer">
    <thead>
      <tr>
        <th colspan="2">Contact us at:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="Field">Phone:</td>
        <td>+91 92375 64738</td>
      </tr>
      <tr>
        <td class="Field">Email:</td>
        <td>lorem@ipsum.com</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
