{% extends "Layout.html" %}
{% load static %}
{% block title %}InnovationHub  |  Account{% endblock %}
</head>

{% block heading %}My Account{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="clear"></div>
    <div class="grid_4 header"><h1></h1></div>
    <div class="grid_4 header">

      <h1 class="top"><img class='logo' src = "{% static 'Images/Icon.png' %}" alt = 'Your Face'></h1>

    </div>
    <div class="grid_4 header"></div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="2">Account Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="Field">Name:</td>
            <td class="LeftAlign">Aryaman Kejriwal</td>
          </tr>
          <tr>
            <td class="Field">Class:</td>
            <td class="LeftAlign">10D</td>
          </tr>
          <tr>
            <td class="Field">Time:</td>
            <td class="LeftAlign">{{Quota}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">My Recent Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Name 1</td>
            <td>Name 2</td>
            <td>Name 3</td>
          </tr>

          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
  {% endblock %}
