{% extends "Layout.html" %}
{% load static %}

{% block Script %}

<script>

  $(document).ready(function() {

    $("#resetQuota").click(function() {
      $.ajax({
        url: '/ADMIN/ResetQuota',
        success: function(result) {

        },
      });
    });
  });

</script>

{% endblock %}

  {% block title %}InnovationHub  |  Admin{% endblock %}

  {% block heading %}Admin Panel{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_12 header">
      <!--<h5 style="text-align:center; color:#307672;">Congratulations! You have won a lot of print time. Tell Rupin sir the following code: 4DM1N</h5>-->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="MenuBar Data" style="border-collapse:separate; border-spacing:2px;">
        <thead>
          <tr>

            <td colspan="3" style="font-size:35px; text-align:center;">Printers</td>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="font-size:30px; padding: 20px 0px; cursor:pointer;" onclick="location.href='/printer/Thor'">Thor</th>
            <th style="font-size:30px; padding: 20px 0px; cursor:pointer;" onclick="location.href='/printer/Zeus'">Zeus</th>
            <th style="font-size:30px; padding: 20px 0px; cursor:pointer;" onclick="location.href='/printer/Artemis'">Artemis</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/ADMIN/statistics'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">View Website Statistics</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      <table class="MenuBar Data" style="border-collapse:separate; border-spacing:2px;">
        <thead>
          <tr>

            <td colspan="2" style="font-size:35px; text-align:center;">Student Controls</td>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="2" style="font-size:30px; padding: 40px 0px; cursor:pointer;"  onclick="location.href='EXCEL'">Add Students via Excel</th>
            <th style="padding:15px 0px; cursor:pointer;" onclick="location.href='INCREASE_GRADE'">Push all Grades Up</th>
          </tr>
          <tr>
            <th style="cursor:pointer;" onclick="location.href='DECREASE_GRADE'">Push all Grades Down</th>
          </tr>

          <tr>
            <th colspan='2' style="font-size:25px; cursor:pointer;" id="resetQuota">Reset All Quotas</th>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="2" style="cursor:pointer; border-radius:6px;">Delete all Seniors</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="clear"></div>

    <div class="grid_6 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/studentFile/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Download Student List</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/jobFile/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Download Job List</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clear"></div>

    <div class="grid_12 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/admin/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Click here to view Django Admin Controls</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

  </div>

  {% endblock %}
