{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  The Carl Segment{% endblock %}

  {% block heading %}The Carl Segment{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 1</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 2</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 3</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 4</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 5</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Video Name</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Subheading 6</td>
          </tr>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="clear"></div>

  </div>{% endblock %}
