{% extends "Layout.html" %}
{% load static %}

{% block hiddenVar %}

  <input type="hidden" value={{num}} id="modelNum"></input>

  {% for var in hiddenVar %}
  <input type="hidden" value={{var.prints.fk_job.file_path_obj}} id={{var.ids}}></input>
  {% endfor %}

{% endblock %}

  {% block title %}InnovationHub  |  Featured Prints{% endblock %}
</head>


  {% block heading %}Featured Prints{% endblock %}

  {% block content %}
  <div class="container_12">

    {% for print in Jobs%}
    <div class="grid_4 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="2">{{print.fk_job.job_title}}</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td colspan="2">{{print.fk_job.fk_user.first_name}}</td>
          </tr>
          <tr>
            <td id={{print.fk_job.file_path_obj}} style="background:#E4EDDB;" colspan="2"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
          </tr>
        </tbody>

        <thead>
          <tr>
            <th class="Button" style="cursor:pointer">Like</th>
            <th class="Votes">{{print.votes}}</th>
          </tr>
        </thead>

      </table>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
