{% extends "Layout.html" %}
{% load static %}
  {% block hiddenVar %}

    <input type="hidden" value="7" id="modelNum"></input>
    <input type="hidden" value="/static/JS/3DModels/a.obj" id="modelName1"></input>
    <input type="hidden" value="/static/JS/3DModels/b.obj" id="modelName2"></input>
    <input type="hidden" value="/static/JS/3DModels/c.obj" id="modelName3"></input>
    <input type="hidden" value="/static/JS/3DModels/d.obj" id="modelName4"></input>
    <input type="hidden" value={{FeaturedPrint0.fk_job.file_path_obj}} id="modelName5"></input>
    <input type="hidden" value={{FeaturedPrint1.fk_job.file_path_obj}} id="modelName6"></input>
    <input type="hidden" value={{FeaturedPrint2.fk_job.file_path_obj}} id="modelName7"></input>

  {% endblock %}
  {% block title %}InnovationHub  |  Home{% endblock %}

  {% block heading %}Welcome to the Innovation Hub Website{% endblock %}
{% block content %}

  <div class="container_12">

    {% if not user.is_authenticated %}
    <div class="clear"></div>
    <div class="grid_2 header"><p></p></div>
    <div class="grid_8 header">
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672;  border:#144D53 solid 5px;" onclick="location.href='/login/'">
        <tbody>
          <tr>
            <td style="font-size: 20px; border-radius:6px; padding:0px; margin:0px;" >You don't seem to be logged in. Login Here</td>
          </tr>
        </tbody>
      </table>

            <!--<h1 class="top heading hover"style="font-size: 25px; cursor:pointer; border-radius:6px;" onclick="location.href='/login/'">Not your account? Login Here:</th1>-->
    </div>
    {% endif %}

    <div class = "grid_12 header">
      <table class='Data' style="z-index:10;">
        <thead>
          <tr>
            <th colspan = "2">Currently Printing</th>
          </tr>
        </thead>

        <tbody>
          <tr class= "Subheading">
            <td>Zeus</td>
            <td>Thor</td>
          </tr>
          <tr>
            <td id="/static/JS/3DModels/a.obj" style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
            <td id="/static/JS/3DModels/b.obj" style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
          </tr>
          <tr class= "Subheading">
            <td>Some God</td>
            <td>Some Other God</td>
          </tr>
          <tr>
            <td id="/static/JS/3DModels/c.obj" style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
            <td id="/static/JS/3DModels/d.obj" style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
          </tr>
          <!--<tr class= "Subheading">
            <td>Some Third God</td>
            <td>Some Final God</td>
          </tr>
          <tr>
            <td id="e" style="background:#E4EDDB;"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="f" style="background:#E4EDDB;"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>-->
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th>Print of the Month</th>
          </tr>
        </thead>
        <tbody>
          {% for Job in BestPrintMonth %}
          <tr class="Subheading">
            <td>{{Job.job_title}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Leader Boards (Month)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="Subheading">
            <td>#</td>
            <td>Name</td>
          </tr>

          {%for user in TopPrints%}
          <tr>
            <td>{{user.user_id}}</td>
            <td>{{user}}</td>
          </tr>
          {%endfor%}
          <!--<tr>
            <td>2</td>
            <td>Shridhar Sinha</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Rupin Chheda</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Pappu</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Carl(R.I.P.)</td>
          </tr>-->

        </tbody>
      </table>
    </div>

    <div class="clear"></div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">Leader Boards (Year)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="Subheading">
            <td>#</td>
            <td>Name</td>
          </tr>

          {%for user in TopPrints%}
          <tr>
            <td>{{user.user_id}}</td>
            <td>{{user}}</td>
          </tr>
          {%endfor%}

          <!--<tr>
            <td>1</td>
            <td>Aryaman Kejriwal</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Shridhar Sinha</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Rupin Chheda</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Pappu</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Carl(R.I.P.)</td>
          </tr>-->

        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th>Print of the Year</th>
          </tr>
        </thead>
        <tbody>
          {% for Job in BestPrintMonth %}
          <tr class="Subheading">
            <td>{{Job.job_title}}
          </tr>
          {% endfor %}
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    {% if Featured %}
    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="6">Featured Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            {% for Job in FeaturedPrint %}
            <td colspan="2">{{Job}}</td>
            {%endfor%}
          </tr>
          <tr>
            {% for Job in FeaturedPrint %}
            <td id={{Job.fk_job.file_path_obj}} style="background:#E4EDDB;" colspan="2"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
            {%endfor%}
            <!--<td id={{FeaturedPrint1.file_path_stl}} style="background:#E4EDDB;"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id={{FeaturedPrint2.file_path_stl}} style="background:#E4EDDB;"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>-->
          </tr>
        </tbody>

        <thead>
          <tr>
            {% for Job in FeaturedPrint %}
            <th class="Button" style="cursor:pointer" style="padding:0 10;">Like</th>
            <th class="Votes">{{Job.vote_score}}</th>
            {%endfor%}
          </tr>

          <tr>
            <td colspan="6" style="font-size:15px; color:#1A3C40; cursor:default;">Innovation Hub Secret Code:2938 (Tell Carl Sir to redeem prize)</td>
          </tr>

          <tr>
            <th></th>
            <th></th>

            <th class="Button" style="cursor:pointer" onclick="location.href='/featuredPrints'">View All</th>
          </tr>
        </thead>

      </table>
    </div>
    <div class="clear"></div>
    {% endif %}

    <div class="grid_1 header"><p></p></div>
    <div class="grid_10 header">
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;"  onclick="location.href='/carlSegment/'">
        <tbody>
          <tr>
            <td style="font-size: 25px; border-radius:6px;">Want to learn how to use this website? Click here</td>
          </tr>
        </tbody>
      </table>
    </div>


      <!--<h1 class="top heading hover"style="font-size: 25px; cursor:pointer; border-radius:6px;" onclick="location.href='/login/'">Not your account? Login Here:</th1>-->
    </div>
{% endblock %}
