{% extends "Layout.html" %}
{% load static %}


{% block Script %}

<script>

  $(document).ready(function() {

    //let length = $('.current').length;

    $(".current").click(function() {

      $(this).parent().parent().parent().parent().slideUp(400);

      jobid = $(this).data("jobid");

      time = '#Time_' + jobid;
      time = $(time).val();
      console.log(time);

      $.ajax({
          url:"/printer/printed/" + jobid +"?job_time=" + time,
          success:function(result){

        console.log("Success");
      }
    });

      //console.log("In");
      //console.log(this);

      //length = length - 1;

    //  if(length <= 1) {
        //$('#attention').parent().parent().parent().delay(1100).slideUp(1000);
      //  $('#attention').slideUp(1000);

      //}
    });

    /*$('.print').click(function() {
      $(this).siblings().slideUp();
      $(this).slideUp();
      //$(this).parent().slideUp();
    });*/

    //$(".current.top.heading").delay(1000).slideUp(1000).delay(1000).show(1000);
    //console.log("Out");
  });

</script>

{% endblock %}

  {% block title %}InnovationHub  |  Printer({{name}}){% endblock %}

  {% block heading %}Printer: <em>{{name}}</em>{% endblock %}

  {% block content %}
  <div class="container_12">
      {% if current %}
      {% for print in current %}
      <div class="grid_12 header">
        <div>
        <!--<h1 class="current top heading" style="border: 2px solid #144D53;">Currently Printing : <br><em>{{print}}</em></h1>-->
        <table class="Data" style="cursor:default;">
          <tbody>
            <tr>
              <td style="border-radius:6px; font-size:30px">Currently Printing : <em>{{print}}</em></th>
              <td style="border-radius:6px; font-size:30px">Time:<input type='text' name='time_{{print.job_id}}' id='Time_{{print.job_id}}'></td>
              <td class="Hover current" style="cursor:pointer; border-radius:6px; font-size:30px" data-jobid = {{print.job_id}}>Done Printing</th>
            </tr>
          </tbody>
        </table>
        <!--</table>
      </div>
      <div class="clear"></div>-->
        </div>
      </div>

      <div class="clear"></div>
      {% endfor %}

      {% endif %}

      <div class="grid_12 header">
        {% if inQueue %}
        <table class="Data">
          <thead>
            <tr>
              <th colspan="5">Pending Prints</th>
            </tr>
          </thead>

          <tbody>
            <tr class="Subheading">
              <td>#</td>
              <td>Print Name</td>
              <td>Colour</td>
              <td>Download</td>
              <td>Action</td>
            </tr>

            {% for Job in inQueue %}
            <tr>
              <div class="row">
                <td class="Hover" onclick="location.href='/printData/{{Job.job_id}}'" style="cursor:pointer;">{{Job.job_id}}</td>
                <td class="Hover">{{Job.job_title}}</td>
                <td class="Hover">{{Job.colour}}</td>
                <td class="Hover"style="cursor:pointer;" onclick="location.href='/printData/download/{{Job.job_id}}'">Download</td>
                <td class="Hover print"style="cursor:pointer;" onclick="location.href='/printer/printing/{{Job.job_id}}'">Start Printing</td>
              </div>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        {% else %}
        <h1 class="top heading">No pending prints for {{name}}</h1>
        {% endif %}
      </div>
      <div class="clear"></div>

  </div>
  {% endblock %}
