{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  PrintData{% endblock %}

  {% block heading %}Print Details{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            {% for Job in JobData%}
            <th>{{Job.job_title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="2">Print Information</th>
          </tr>
        </thead>

        <tbody>
          {% for Job in JobData %}
          <tr>
            <td class="Field">ID:</td>
            <td>{{Job.job_id}}</td>
          </tr>
          <tr>
            <td class="Field">Name:</td>
            <td>{{Job.job_title}}</td>
          </tr>
          <tr>
            <td class="Field">Status:</td>
            <td>{{Job.status}}</td>
          </tr>
          <tr>
            <td class="Field">Upload Date:</td>
            <td>{{Job.uploadDate}}</td>
          </tr>
          <tr>
            <td class="Field">Print Date:</td>
            <td>{{Job.startDate}}</td>
          </tr>
          <tr>
            <td class="Field">PickUp Date:</td>
            <td>{{Job.endDate}}</td>
          </tr>
        </tbody>
        {% endfor %}

      </table>
    </div>
    <div class="clear"></div>
  </div>
  {% endblock %}
