{% extends "Layout.html" %}
{% load static %}
{% block hiddenVar %}

  <input type="hidden" value="1" id="modelNum"></input>
  <input type="hidden" value={{filePath}} id="modelName1"></input>

{% endblock %}

  {% block title %}InnovationHub  |  PrintData{% endblock %}

  {% block heading %}Print Details{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            {% for Job in JobData%}
            <th>{{Job.job_title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id={{filePath}} style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="2">Print Information</th>
          </tr>
        </thead>

        <tbody>
          {% for Job in JobData %}
          <tr>
            <td class="Field">ID:</td>
            <td>{{Job.job_id}}</td>
          </tr>
          <tr>
            <td class="Field">Name:</td>
            <td>{{Job.job_title}}</td>
          </tr>
          <tr>
            <td class="Field">Student:</td>
            <td>{{Job.fk_profile}}</td>
          </tr>
          <tr>
            <td class="Field">Status:</td>
            <td>{{Job.status}}</td>
          </tr>
          <tr>
            <td class="Field">Upload Date:</td>
            <td>{{Job.uploadDate}}</td>
          </tr>
          <tr>
            <td class="Field">Print Date:</td>
            <td>{{Job.startDate}}</td>
          </tr>
          <tr>
            <td class="Field">PickUp Date:</td>
            <td>{{Job.endDate}}</td>
          </tr>
        </tbody>
        {% endfor %}

      </table>
    </div>
    <div class="clear"></div>

    {% if user.is_superuser %}
    <div class="grid_6 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;"  onclick="location.href='/printData/download/{{jobid}}'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Download</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid_6 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/schedule/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Add to Featured</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clear"></div>
    {% elif user.is_authenticated %}

    <div class="grid_12 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/schedule/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Download</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clear"></div>
    {% endif %}
  </div>
  {% endblock %}
