<!DOCTYPE html>
<html>

<head>
  <title>InnovationHub | RawData</title>
</head>

<body>
  <h1 style="text-align:center;">Raw Data</h1>
  <h2>Users</h2>
  <table style="border:2px solid #000000;">
    <thead>
      <tr>
        <th style="border:2px solid #000000;">#</th>
        <th style="border:2px solid #000000;">First Name</th>
        <th style="border:2px solid #000000;">Last Name</th>
        <th style="border:2px solid #000000;">Quota</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>

  <h2>Jobs</h2>
</body>

</html>
