{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  Schedule{% endblock %}

  {% block heading %}Schedule{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_12 header">
      {% if Jobs %}
      <table class="Data">
        <thead>
          <tr>
            <th colspan="4">My Print Schedule</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>#</td>
            <td>Print Name</td>
            <td>Status</td>
            <td>PickUp Date*</td>
          </tr>

          {% for Job in Jobs %}
          <tr>
            <td style="cursor:pointer" onclick="location.href='/printData/{{Job.job_id}}'" class="Hover">{{Job.job_id}}</td>
            <td>{{Job.job_title}}</td>
            <td>{{Job.status}}</td>
            <td>{{Job.endDate}}</td>
          </tr>
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any pending prints</h1>
      {% endif %}
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      {% if Printed %}
      <table class="Data">
        <thead>
          <tr>
            <th colspan="4">My Completed Print</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>#</td>
            <td>Print Name</td>
            <td>Status</td>
            <td>PickUp Date*</td>
          </tr>

          {% for Job in Printed %}
          <tr>
            <td style="cursor:pointer" onclick="location.href='/printData/{{Job.job_id}}'" class="Hover">{{Job.job_id}}</td>
            <td>{{Job.job_title}}</td>
            <td>{{Job.status}}</td>
            <td>{{Job.endDate}}</td>
          </tr>
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any completed prints</h1>
      {% endif %}
    </div>

    <div class="clear"></div>
    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">My Recent Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Name 1</td>
            <td>Name 2</td>
            <td>Name 3</td>
          </tr>

          <tr>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
            <td id="WhiteBack"><img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  {% endblock %}
