<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link href="{% static 'CSS/PageStyle.css' %}" rel = "stylesheet" type = "text/css">
  <title>InnovationHub  |  Schedule</title>
</head>

<body>
  <table class = "MenuBar">
    <thead>
      <tr>
        <th rowspan = "2" colspan = "1">Curiosity Gym</th>
        <th rowspan = "2" colspan = "2">QuotesByCarl</th>
        <th style="cursor:pointer" onclick="location.href='/account/data'">TIME</th>
      </tr>

      <tr>
        <th style="cursor:pointer" onclick="location.href='/account/data'">00:31:23</th>
      </tr>

    </thead>

  <tbody>

    <tr>
      <div>
        <th style="cursor:pointer" onclick="location.href='/home'">Home</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/schedule'">Schedule</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/submit/request'">Submit</th>
      </div>

      <div>
        <th style="cursor:pointer" onclick="location.href='/account/data'">Account</th>
      </div>
    </tr>

  </tbody>

  </table>
  <h1 class = "top">Print Schedule</h1>
</body>
</html>
