{% extends "Layout.html" %}
{% load static %}

{% block hiddenVar %}
  {{block.super}}
{% endblock %}


{% block Script %}

<script>

</script>

{% endblock %}

  {% block title %}InnovationHub  |  Statistics{% endblock %}

  {% block heading %}Statistics{% endblock %}

  {% block content %}

    <div class="container_12">

      {% for chart in charts %}
        <div class="grid_6 header">

          <table class="Data">

            <thead>
              <tr>
                <th>{{chart.Title}}</th>
              </tr>
            </thead>

            <tbody>
              <tr class="Subheading">
                <td>{{chart.Subtitle}}</td>
              </tr>
              <tr>
                <td id="WhiteBack"><canvas id={{chart.Title}} width='400px' height='300px'></canvas></td>
              </tr>
            </tbody>

          </table>
        </div>
      {% endfor %}
      <div class="clear"></div>
    </div>

  {% endblock %}
