{% extends "Layout.html" %}
{% load static %}

{% block hiddenVar %}
  {{block.super}}
{% endblock %}


{% block Script %}

  <script>
    $(document).ready(function() {

      let Num      = 0;
      let Title    = '';
      let Subtitle = '';
      let Type     = '';
      let Labels   = [];
      let Data     = [];
      let datasets = [];
      let Key      = [];

      let temp     = [];
      let canvas;
      let chart;

      {% for chart in charts %}
        //let raw_charts = {{charts}};
        //console.log('Yesssssss!!!')

        Num      = {{chart.No}};
        Title    = '{{chart.Title}}';
        Subtitle = '{{chart.Subtitle}}';
        Type     = '{{chart.Type}}';
        Labels   = [];
        Data     = [];
        datasets = [];
        Key      = [];

        {% for Label in chart.Labels %}
          Labels.push('{{Label}}');
        {% endfor %}

        {% for DataSet in chart.Data %}
          temp = []
          {% for data in DataSet %}
            temp.push({{data}});
          {% endfor %}
          Data.push(temp);

        {% endfor %}

        {% for key in chart.Keys %}
          Key.push('{{key}}');
        {% endfor %}

        //console.log(Data);
        //console.log(Labels);
        //console.log(Num + " " + Title + " " + Subtitle + " " + Type);

        for(let i = 0; i < Data.length; i++) {
          datasets.push({

            'label'       : Key[i],
            'fill'        : false,
            'lineTension' : 0.1,
            'data'        :Data[i],

          });
          //console.log(Key[i]);
        }

        canvas = document.getElementById(Title.split(" ")[0])
        //console.log(canvas);
        chart  = new Chart(canvas, {
          'type': Type,
          'data': {'labels'  : Labels,
                   'datasets': datasets,

                  },
        });



      {% endfor %}
    });
  </script>

{% endblock %}

  {% block title %}InnovationHub  |  Statistics{% endblock %}

  {% block heading %}Statistics{% endblock %}

  {% block content %}

    <div class="container_12">

      {% for chart in charts %}
        <div class="grid_6 header">

          <table class="Data">

            <thead>
              <tr>
                <th>{{chart.Title}}</th>
              </tr>
            </thead>

            <tbody>
              <tr class="Subheading">
                <td>{{chart.Subtitle}}</td>
              </tr>
              <tr>
                <td id="WhiteBack"><canvas id={{chart.Title}} width='400px' height='300px'></canvas></td>
              </tr>
            </tbody>

          </table>
        </div>
      {% endfor %}
      <div class="clear"></div>
    </div>

  {% endblock %}
