table.MenuBar {
  table-layout: fixed;
  position: fixed;
  top: 0px;
  width: 99%;
  border: 4px solid #144D53;

  margin: 0;

  background-color: #1A3C40;
  color: #E4EDDB;
}

table.MenuBar th:hover {
  background-color: #E4EDDB;
  color: #1A3C40;
}

table.SearchBar {
  table-layout: fixed;
  position: fixed;
  top: 0px;
  width: 99%;

  margin: 0;

  background-color: #307672;
  color: #E4EDDB;

  border: 2px solid #144D53;
}

table.SearchBar th:hover {
  color: #307672;
  background-color: #E4EDDB;
}

h1 {
  color: #307672;
}

body {
  background-color: #E4EDDB;
}

h1.top {
  position: relative;
  top: 100px;
  text-align: center;
}
